.container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.header {
  background-color: #f44336;
  color: white;
  padding: 20px;
}

.header h1 {
  margin: 0;
  font-weight: bold;
}

.playersection {
  background-color: #ffe0e6;
  padding: 20px;
  margin-top: 20px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 4px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

